@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Trad:wght@100..400&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

html {
    background-color: #393d3f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

h1, span, p {
    color: #fdfdff;
    font-family: 'Raleway';
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

span {
  font-family: "Playwrite US Trad", cursive;
  font-weight: 200;
  margin: 0 5px;
}